.form-field {
  height: 48px;
  display: block;
  width: 100%;
  padding: 14px 16px;

  background-color: #f8f8fa;
  border: 1px solid transparent;
  border-radius: 15px;

  font-family: inherit;
  color: $dark-shade-color;
  font-size: 14px;
  line-height: 20px;

  transition: border 0.45s ease;

  &::placeholder {
    color: #7e7e83;
  }

  &:hover {
    border: 1px solid #d5d7de;
  }

  &:focus {
    border: 1px solid $dark-shade-color;
    outline: 1px solid $dark-shade-color;
  }

  &--textarea {
    resize: none;
    height: 148px;
  }
}
